<div class="container">
  <h3><%= @photo.title %><span><%= @photo.date %></span></h3>
  <div>
    <%= image_tag @photo.file_location.url, size: "800X600", class: "img-thumbnail" %>
  </div>
  <div class="photo-description">
    <h3>Description</h3>
    <p><%= simple_format(@photo.description) %></p>
  </div>
  <div>
    <button type="button" class="btn btn-default">
      <%= link_to 'Back to index', photos_path %>
    </button>
  </div>
</div>